.select {
  background-color: #FFE0B4;
  border-bottom: 1px solid #FFD69A !important;
  color: #A87104;
}
.colorFilterLayout {
  background-color: #FCC48B;
  border: 1px solid #FCC48B !important;
}
.inputText {
  border-radius: 0 !important;
  color: #4075D3 !important;
  font-weight: bold;
}
.placeholder {
  color: #37A6D3;
  font-size: 10px;
  font-style: italic;
}
body,
html {
  height: 99%;
}
.rowSelect {
  background-color: #FFE0B4;
  border-bottom: 1px solid #FFD69A !important;
  color: #A87104;
}
.rowEdited {
  background-color: #FFE0B4;
}
.rowGroupHeader {
  background-color: #E4EDF9;
}
.rowGroupHeaderSelect {
  background-color: #FFD69A;
}
.groupTitleFirst {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}
.groupTitleSecond {
  font-size: 11px;
  margin-top: -10px;
}
.footerTitle {
  font-size: 13px;
  font-weight: bold;
  text-align: right !important;
  padding: 0 !important;
}
.flat .webix_view {
  border: none;
}
.flat .webix_header > div {
  background: #4075D3 !important;
  font-weight: bold;
}
.webix_layout_clean {
  border: 1px solid #4075D3;
}
.styleDataGrid .webix_ss_header td {
  background-color: #37A6D3;
  color: #f7f7f7;
  border-right: none;
  border-left: none;
  font-size: 12px;
  font-weight: bold;
}
.styleDataGrid .webix_ss_header .webix_hcell {
  text-align: center;
}
.styleDataGrid .webix_ss_footer td {
  background-color: #E4EDF9;
  font-size: 11px;
  padding: 0;
}
.styleDataGrid .webix_ss_footer .webix_hcell {
  text-align: right;
  padding: 0 4px 0 4px !important;
}
.styleFilterTable .webix_cell,
.styleDataGrid .webix_cell {
  border-bottom: 1px solid #E4EDF9;
  border-right: none;
  border-left: none;
  font-size: 12px;
  padding: 0 4px 0 4px !important;
}
.styleFilterTableCell {
  color: #61A6F7;
  text-align: center;
  font-style: italic;
  align: center;
}
.styleDataGrid .webix_column > div.webix_cell_select {
  background-color: #FFE0B4;
  border-bottom: 1px solid #FFD69A !important;
  color: #A87104;
  padding: 0 4px 0 4px !important;
}
.webix_view .webix_tree_open:before {
  content: url(icons/treeOpen.jpg) !important;
}
.webix_view .webix_tree_close:before {
  content: url(icons/treeClose.jpg) !important;
}
.styleLayoutFilter {
  padding: 0 !important;
  margin-bottom: -10px;
}
.styleTextFilter,
.styleSelectFilter,
.styleNumericRangeFilter,
.styleDataRangeFilter {
  background-color: #FCC48B;
  border: 1px solid #FCC48B !important;
}
.styleMinInput .webix_el_box input,
.styleMaxInput .webix_el_box input,
.styleTextInput .webix_el_box input,
.styleSelectList .webix_el_box input,
.styleMinDateInput .webix_inp_static,
.styleMaxDateInput .webix_inp_static {
  border-radius: 0 !important;
  color: #4075D3 !important;
  font-weight: bold;
}
.styleMinInput .webix_el_box input::-webkit-input-placeholder,
.styleMaxInput .webix_el_box input::-webkit-input-placeholder {
  color: #37A6D3;
  font-size: 10px;
  font-style: italic;
}
.styleMinInput .webix_el_box input:-moz-placeholder,
.styleMaxInput .webix_el_box input:-moz-placeholder {
  color: #37A6D3;
  font-size: 10px;
  font-style: italic;
}
.styleMinInput .webix_el_box input::-moz-placeholder,
.styleMaxInput .webix_el_box input::-moz-placeholder {
  color: #37A6D3;
  font-size: 10px;
  font-style: italic;
}
.styleMinInput .webix_el_box input:-ms-input-placeholder,
.styleMaxInput .webix_el_box input:-ms-input-placeholder {
  color: #37A6D3;
  font-size: 10px;
  font-style: italic;
}
.styleMinInput .webix_el_box input::-ms-input-placeholder,
.styleMaxInput .webix_el_box input::-ms-input-placeholder {
  color: #37A6D3;
  font-size: 10px;
  font-style: italic;
}
.styleMinInput .webix_el_box input:placeholder-shown,
.styleMaxInput .webix_el_box input:placeholder-shown {
  color: #37A6D3;
  font-size: 10px;
  font-style: italic;
}
.styleMinDateInput .webix_el_box .webix_inp_static .webix_placeholder,
.styleMaxDateInput .webix_el_box .webix_inp_static .webix_placeholder {
  color: #37A6D3;
  font-size: 10px;
  font-style: italic;
}
.styleString {
  background-color: #FCC48B;
  border: 1px solid #FCC48B !important;
  font-weight: bold;
}
.styleSelectList .webix_el_box .webix_input_icon,
.styleMinDateInput .webix_el_box .webix_input_icon,
.styleMaxDateInput .webix_el_box .webix_input_icon {
  border-radius: 0 !important;
  color: #4075D3 !important;
  font-weight: bold;
  background-color: inherit !important;
}
.styleSelectList .webix_el_box .webix_input_icon:hover {
  background-color: inherit !important;
}
.styleSelectOptions .webix_list .webix_list_item {
  color: #A87104 !important;
  font-size: 12px;
}
.styleSelectOptions .webix_list .webix_list_item.webix_selected {
  background: #FFE0B4 !important;
}
.webix_dtable .webix_hs_left td.webix_last {
  border-right: 1px solid #d0d0d0;
}
