.usa{
    background-color: #39a97b;
    color: #fff;
}
.arg{
    background-color: #612eae;
    color: #fff;
}
.mex{
    background-color: #146cc3;
    color: #fff;
}
.bra{
    background-color: #af7927;
    color: #fff;
}
.can{
    background-color: #9b36c6;
    color: #fff;
}


